:root {
  /* background */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
  /* text */
  --primary-text-color: #212121;
  --secondaty-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --nav__logo-color: #000000;
  --logo-footer-color: #ffffff;
  --footer-contacts-color: (rgba(255, 255, 255, 0.6));
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.page {
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  list-style-type: none;
  margin: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide-head {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-title .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-container {
  border-bottom: 1px solid #ececec;
}

.header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  .menu-button {
    position: relative;
    z-index: 100;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .menu-button .icon-menu {
    display: none;
  }

  .menu-button.is-open .icon-menu {
    display: block;
  }

  .menu-button.is-open .icon-close {
    display: none;
  }

  .menu-container {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    font-size: 20px;
    background-color: var(--primary-bg-color);
  }
  .menu-container.is-open {
    display: block;
  }

  .menu-container--flex {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .site-contacts__icon {
    display: none;
  }

  .site-nav .link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: auto;
  }

  .site-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: auto;
  }

  .site-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }

  .site-contacts__email {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .site-contacts__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondaty-text-color);
  }

  .socials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .socials-list__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .socials-list__element {
    color: rgba(33, 33, 33, 0.2);
  }

  .site-nav .link.site-nav__link--current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header .nav {
    min-height: 60px;
  }

  .menu-button {
    display: none;
  }

  .menu-container {
    margin-left: 88px;
    flex-grow: 1;
  }

  .socials-list {
    display: none;
  }

  .menu-container--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav .link,
.site-contacts .link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }

  .site-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
  }

  .site-nav__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }

  .site-nav .link.site-nav__link--current {
    color: var(--accent-color);
  }

  .site-contacts .link {
    color: var(--secondaty-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }
  .site-contacts .link:hover, .site-contacts .link:focus {
    color: var(--accent-color);
  }

  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-contacts__link {
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: var(--secondaty-text-color);
    color: var(--secondaty-text-color);
  }
  .site-contacts__link:hover .site-contacts__icon, .site-contacts__link:focus .site-contacts__icon {
    fill: var(--accent-color);
  }

  .site-contacts__icon {
    margin-right: 10px;
  }

  .site-nav__item {
    position: relative;
  }

  .site-nav__link.link.site-nav__link--current::after {
    content: "";
    min-width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .socials-list {
    display: none;
  }

  .site-contacts {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}
.nav__logo,
.footer__logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .nav__logo,
.footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav__logo {
  color: var(--nav__logo-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer__logo {
  color: var(--logo-footer-color);
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;
}

.nav__excerpt,
.footer__excerpt {
  color: var(--accent-color);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__conteiner {
  margin-left: auto;
  margin-right: auto;
}

.hero {
  max-width: 767px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__s-min.jpg);
}
@media (min-width-pixel-panel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__s@2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__m-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width-pixel-panel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__m@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__l-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-width-pixel-panel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/optimised-sizes/header-bg__l@2x-min.jpg);
  }
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  /* transform: rotate(180deg); */
}

.footer-subscribe__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  fill: var(--hero-text-color);
  transition-property: color, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer-subscribe__btn:hover, .footer-subscribe__btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  fill: var(--accent-color);
}

.form-btn {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 56px;
  max-width: 200px;
  max-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.form-btn:hover, .form-btn:focus {
  background-color: #188ce8;
}

.cancel-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cancel-btn:hover .cancel-btn__icon, .cancel-btn:focus .cancel-btn__icon {
  fill: var(--accent-color);
}
.cancel-btn__icon {
  fill: var(--nav__logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.filtr-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filtr-btn {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filtr-btn {
    margin-bottom: 50px;
  }
}
.filtr-btn__item {
  display: inline-block;
  border-radius: 4px;
}

.filtr-btn__button {
  background-color: var(--accent-bg-color);
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.filtr-btn__button:hover, .filtr-btn__button:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .feature {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}
.feature__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature__title {
    display: flex;
    justify-content: flex-start;
  }
}
.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
}

.section-functions {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .section-functions {
    display: none;
  }
}

.functions {
  display: flex;
  justify-content: space-between;
}
.functions__card {
  position: relative;
  border: none;
}
.functions__pic {
  margin-bottom: -4px;
}

.function__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: var(--hero-text-color);
  background: rgba(47, 48, 58, 0.8);
  min-width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--accent-bg-color);
}

.team-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.team-card__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-card__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team-card__item {
    width: 270px;
  }
}

.team-cards__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards__role {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondaty-text-color);
  margin-bottom: 16px;
}

.team-cards__picture {
  width: 100%;
  margin-top: 0;
  margin-bottom: -4px;
}
@media screen and (min-width: 1200px) {
  .team-cards__picture {
    width: 270px;
  }
}

.team-cards__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-color: var(--primary-bg-color);
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-left: 32px;
  margin-right: 32px;
  list-style: none;
}

.team-socials__item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team-socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
@media screen and (min-width: 1200px) {
  .team-socials__link {
    justify-content: center;
  }
}
.team-socials__link:hover, .team-socials__link:focus {
  fill: var(--hero-text-color);
  background-color: var(--accent-color);
}

.clients {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 2);
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .clients {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}
.clients__item {
  height: 92px;
  width: 210px;
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--secondary-bg-color);
  list-style-type: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    gap: 0;
  }
}

.footer-address__list .footer-address__map {
  color: var(--hero-text-color);
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__item:last-child {
  margin-bottom: 0px;
}

.footer-address__link {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
@media screen and (min-width: 1200px) {
  .footer-address__link {
    text-align: start;
  }
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

.footer-address {
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
    width: 100%;
  }
}

/* footer social networks */
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-socials__title,
.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
  padding: 0;
}

.footer-socials__list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

.footer-socials__item {
  height: 44px;
  width: 44px;
}

.footer-socials__icon {
  fill: var(--hero-text-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
}

.footer-subscribe {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__box {
    margin-left: auto;
  }
}

.footer-form__label {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form__label {
    display: flex;
  }
}

.footer-subscribe__input {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
}
@media screen and (max-width: 479px) {
  .footer-subscribe__input {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .footer-subscribe__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    min-width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 450px;
  min-height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-bg-color);
}

.subscribe-form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  /* gap: 10px; */
}

.form-item__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondaty-text-color);
}

.subscribe-form__item {
  display: block;
  position: relative;
  margin: 0;
}

.subscribe-form__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.subscribe-form__input:hover + .subscribe-form__icon, .subscribe-form__input:focus + .subscribe-form__icon {
  fill: var(--accent-color);
}

.subscribe-form__icon {
  display: block;
  position: absolute;
  /* display: flex; */
  margin-left: 12px;
  top: 40%;
  left: 0;
}

.modal textarea::placeholder {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 1;
}

.subscribe-form__textarea {
  display: block;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  max-height: 200px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.subscribe-form__textarea:hover, .subscribe-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe-form__check {
  display: flex;
  margin-bottom: 30px;
}

.subscribe-form__icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--primary-text-color);
  outline-offset: -2px;
  border-radius: 4px;
}

.subscribe-form__check-icon {
  opacity: 0;
  border-radius: 4px;
  cursor: pointer;
  fill: transparent;
}

.subscribe-form__checkbox:checked + .subscribe-form__icon-box {
  outline: transparent;
}

.subscribe-form__checkbox:checked + .subscribe-form__icon-box > .subscribe-form__check-icon {
  opacity: 1;
}

.subscribe-form__hidden {
  pointer-events: none;
  /* opacity: 0; */
  visibility: hidden;
  display: none;
}

.form-check-text {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
}

.form-link {
  color: var(--accent-color);
}

.section .works {
  padding-top: 60px;
  padding-bottom: 60px;
}

.project-content__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-card__desk {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}
.projects-list .project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.projects-list .project__link:hover .project-card__text, .projects-list .project__link:focus .project-card__text {
  transform: translateY(0);
  opacity: 1;
}
.projects-list .project-content {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transform: translateY(100%);
  padding: 63px 24px;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background: rgba(33, 150, 243, 0.9);
}
@media screen and (max-width: 1199px) {
  .project-card__text {
    padding: 24px;
    align-items: center;
    font-weight: 400;
  }
}

.project-content {
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}/*# sourceMappingURL=main.css.map */