.feature {
  // display: flex;
  // justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc(50% - 15px);
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondaty-text-color);
  }
}
