/* Footer */
.footer {
  background-color: var(--secondary-bg-color);

  list-style-type: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    //   // width: 768px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    gap: 0;

    // width: 1200px;
  }
}

.footer-address__list .footer-address__map {
  color: var(--hero-text-color);
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__item:last-child {
  margin-bottom: 0px;
}

.footer-address__link {
  display: inline-block;
  text-align: center;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-address {
  text-align: center;
  margin: 0;

  @media screen and (min-width: 1200px) {
    text-align: left;
    width: 100%;
  }
  // margin-right: 70px;
}

/* footer social networks */

.footer-socials {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-socials__title,
.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-text-color);
  margin-bottom: 20px;
  padding: 0;
}

.footer-socials__list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--hero-text-color);
  }
}

.footer-socials__item {
  height: 44px;
  width: 44px;
}

.footer-socials__icon {
  fill: var(--hero-text-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
}
.footer-subscribe {
  display: block;
  width: 100%;

  // text-align: center;
  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   flex-wrap: wrap;
  //   gap: 30px;
  // }
}
.footer-subscribe__box {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer-form__label {
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-subscribe__input {
  padding: 15px 16px;

  font-size: 16px;
  line-height: calc(20px / 16px);
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}
