// Hero

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);

  margin: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__conteiner {
  // padding-top: 200px;
  // padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  max-width: 480px;
  height: 400px;

  padding-top: 118px;
  padding-bottom: 118px;

  margin-left: auto;
  margin-right: auto;

  // width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/optimised-sizes/header-bg__s-min.jpg);

  @media (min-width-pixel-panel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimised-sizes/header-bg__s@2x-min.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimised-sizes/header-bg__m-min.jpg);

    @media (min-width-pixel-panel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/optimised-sizes/header-bg__m@2x-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/optimised-sizes/header-bg__l-min.jpg);

    @media (min-width-pixel-panel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/optimised-sizes/header-bg__l@2x-min.jpg);
    }
  }
}
