.section .works {
  padding-top: 60px;
  padding-bottom: 60px;

  // padding-top: 94px;
  // padding-bottom: 94px;
}

.project-content__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-card__desk {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
  margin: 0;

  .project__link {
    display: flex;
    flex-direction: column;
    // height: 100%;
  }
  // .project-content {
  //   flex-grow: 1;
  // }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project-card-pic {
  margin-bottom: -4px;

  width: 100%;

  display: block;
  max-width: 100%;
}

.project__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  position: relative;
  overflow: hidden;
}

.project-card__text {
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transform: translateY(100%);

  padding: 63px 24px;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);

  background: rgba(33, 150, 243, 0.9);
}

.project__link {
  text-decoration: none;

  &:hover .project-card__text,
  &:focus .project-card__text {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-content {
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
