.team {
  background-color: var(--accent-bg-color);
}

.team-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.team-card__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc(50% - 15px);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-cards__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards__role {
  margin: 0;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondaty-text-color);
  margin-bottom: 16px;
}

.team-cards__picture {
  width: 100%;
  margin-top: 0;
  margin-bottom: -4px;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-cards__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  background-color: var(--primary-bg-color);
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-left: 32px;
  margin-right: 32px;

  list-style: none;
}

.team-socials__item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team-socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  fill: #afb1b8;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }

  &:hover,
  &:focus {
    fill: var(--hero-text-color);
    background-color: var(--accent-color);
  }
}
